/* 
*/

.container {
  width: 60%;
  padding-top: 7em;
  margin: 0 auto;
}

.container h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.container h3 {
  font-size: 1.5em;
  margin: 0.5em initial;
}

.flag {
  width: 50%;
  margin: 4em auto;
}

.flag img {
  max-width: 100%;
}

figcaption {
  text-align: center;
}

strong {
  box-shadow: inset 0 -0.25em hsl(55, 100%, 75%);
}

.enunciados {
  color: rgb(47, 109, 224);
}
